# ignore specific folders
data/
examples/
movies/
notes/
outputs/
PyESPER/
writing/

# ignore temporary or system files
*.pyc
__pycache__/
.DS_Store
Dockerfile
.dockerignore
.vscode
.env
*.asv

# ignore data in test and utils files
LHS_1hr.mat
LHS_1yr.mat
RHS_1hr.mat
RHS_1yr.mat
*.pth
*.save